.btn {
  color: var(--color-on-accent);
  font-size: var(--font-size-base);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color var(--transition-normal);
}

.btn--primary {
  background-color: var(--brand-primary);
}

.btn--danger {
  background-color: var(--color-error); // TODO: change
}

.btn--cancel {
  background-color: var(--color-background);
  color: var(--text-primary);
  border: var(--border-width) solid var(--border-color);
}
