@use "./variables" as v;

body {
  font-family: v.$font-body;
  font-weight: v.$font-weight-regular;
  font-size: v.$font-size-base;
  line-height: v.$line-height-body;

  color: var(--color-primary);
  background-color: var(--color-background);
}

h1 {
  font-size: v.$font-size-xxl;
  line-height: v.$line-height-heading;
  font-weight: v.$font-weight-bold;
}

h2 {
  font-size: v.$font-size-xl;
  line-height: v.$line-height-heading;
  font-weight: v.$font-weight-medium;
}

h3 {
  font-size: v.$font-size-lg;
  line-height: v.$line-height-heading;
  font-weight: v.$font-weight-medium;
}

h4 {
  font-size: v.$font-size-md;
  line-height: v.$line-height-heading;
  font-weight: v.$font-weight-medium;
}

p {
  font-size: v.$font-size-base;
  line-height: v.$line-height-body;
  max-width: 70ch;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  line-height: v.$line-height-body;
}
