@use "./variables" as v;

:root {
  --color-primary: #{v.$color-primary};
  --color-on-primary: #{v.$color-on-primary};

  --color-accent: #{v.$color-accent};
  --color-on-accent: #{v.$color-on-accent};

  --color-surface: #{v.$color-surface};
  --color-on-surface: #{v.$color-on-surface};

  --color-background: #{v.$color-background};

  --color-error: #{v.$color-error};
  --color-success: #{v.$color-success};
  --color-warn: #{v.$color-warn};
}
