:root {
  --color-primary: #86efac; /* pistachio */
  --color-on-primary: #14532d;

  --color-accent: #a16207; /* chocolate drizzle */
  --color-on-accent: #ffffff;

  --color-surface: #ffffff;
  --color-on-surface: #292524;

  --color-background: #fafaf9;

  --color-error: #dc2626;
  --color-on-error: #ffffff;

  --color-success: #15803d;
  --color-on-success: #ffffff;

  --color-warn: #d97706;
  --color-on-warn: #ffffff;

  --color-white: #ffffff;
  --color-neutral-50: #fafaf9;
  --color-neutral-100: #f5f5f4;
  --color-neutral-200: #e7e5e4;
  --color-neutral-300: #d6d3d1;
  --color-neutral-400: #a8a29e;
  --color-neutral-500: #78716c;
  --color-neutral-600: #57534e;
  --color-neutral-700: #44403c;
  --color-neutral-800: #292524;
  --color-neutral-900: #1c1917;
}
