<!-- create for to add new flavor -->
<form [formGroup]="newFlavorForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="flavorName" />
  </div>
  <div>
    <label for="description">Description:</label>
    <input id="description" type="text" formControlName="flavorDescription" />
  </div>
  <div>
    <label for="image">Image:</label>
    <input id="image" type="text" formControlName="flavorImage" />
  </div>
  <button type="submit" [disabled]="!newFlavorForm.valid">Save Flavor</button>
</form>
<p>{{ newFlavorForm.status }}</p>
