.page-title {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  padding: 2rem 10rem;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.form-label {
  width: 10rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
