.page-container--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.page-title {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;
  min-width: 20rem;
  max-width: 40rem; // between 300–600px
  // max-width: 40vw;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
