<form [formGroup]="newFlavorForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="flavorName" />
  </div>
  <div>
    <label for="description">Description:</label>
    <input id="description" type="text" formControlName="flavorDescription" />
  </div>
  <div>
    <label for="photo">Photo:</label>
    <input id="photo" type="text" formControlName="flavorPhoto" />
  </div>
  <button type="submit" [disabled]="!newFlavorForm.valid">Save Flavor</button>
</form>
