@use "../../styles/scss/mixins" as m;

:host {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  gap: 1rem;
  max-width: 70rem;
  margin-inline: auto;

  @include m.respond(lg) {
    gap: 5rem;
  }
}

.flavor__name {
  text-align: center;
  margin-bottom: var(--space-sm);
}

.flavor__details {
  @include m.respond(lg) {
    display: grid;
    grid-template-columns: 1fr minmax(0, 25rem);
    align-items: center;
    gap: 5rem;
  }
}

.flavor__image img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-md);
}

.image-wrapper img {
  max-height: 100%;
  width: auto;
  border-radius: 0.5rem;
}

.flavor__actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include m.respond(lg) {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
}
