@if (flavor) {
  <h1 class="flavor__name">{{ flavor.name | titlecase }}</h1>
  <div class="flavor__details">
    <p class="flavor__description">{{ flavor.description }}</p>
    <div class="flavor__image">
      <img src="{{ flavor.photo }}" alt="{{ flavor.name }} image" />
    </div>
  </div>
  <div class="flavor__actions">
    <button class="btn btn--secondary" (click)="onEditClick()">
      Edit Flavor
    </button>
    <button class="btn btn--danger" (click)="onDeleteClick()">
      Delete Flavor
    </button>
  </div>
} @else {
  <h2 class="flavor__fetch-text">Fetching flavor...</h2>
}
