.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

img.responsive {
  width: 100%;
  max-width: 200px;
  height: auto;
}
