.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 7.5rem;
}

.details-container {
  height: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  /* padding: 0 7rem; */
}

.image-wrapper {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  overflow: hidden;
}

.image-wrapper img {
  max-height: 100%;
  width: auto;
  object-fit: contain; /* or 'cover' depending on the desired fit */
  border-radius: 0.5rem;
}

p {
  max-width: 60ch;
  line-height: 1.6;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 0 5rem;
}
