.page-container--flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

  min-height: 20rem;
}

.image-wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 50rem;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  overflow: hidden;
}

.image-wrapper img {
  max-height: 100%;
  width: auto;
  object-fit: contain; /* or 'cover' depending on the desired fit */
  border-radius: 0.5rem;
}

.actions-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
