@use "../../styles/scss/mixins" as m;

:host {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--brand-primary);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  @include m.respond(lg) {
    flex-direction: row;
  }
}

.logo__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo__icon {
  fill: var(--on-brand);
}

.navigation__link {
  padding: 0.5rem;
}

.navigation__link--active {
  font-weight: var(--font-weight-bold);
}
