@use "../../styles/scss/mixins" as m;

:host {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.flavor-form__title {
  text-align: center;
}

.flavor-form {
  width: 100%;
  max-width: 36rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field__input {
  padding: 0.5rem 1rem;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--radius-sm);
}

.form-field__textarea {
  resize: none;
  padding: 0.5rem 1rem;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--radius-sm);
}

.form__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}
