* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* use full height */
html,
body {
  height: 100%;
  background-color: #f6df95;
}

body,
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  /* set font */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  height: 4rem;
}

main {
  flex: 1;
  padding: 1rem 3rem;
}

footer {
  margin: 0 auto;
}

/* text styles */
/* scale variables */
:root {
  --text-size-xs: 0.64rem;
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.25rem;
  --text-size-xl: 1.56rem;
  --text-size-2xl: 1.95rem;
  --text-size-3xl: 2.44rem;
  --text-size-4xl: 3.05rem;
  --text-size-5xl: 3.81rem;
}

h1 {
  font-size: var(--text-size-4xl);
}
h2 {
  font-size: var(--text-size-3xl);
}
h3 {
  font-size: var(--text-size-2xl);
}
h4 {
  font-size: var(--text-size-xl);
}
h5 {
  font-size: var(--text-size-lg);
}

/* style links */
a:link {
  color: #895501;
  text-decoration: none;
}

a:visited {
  color: #895501;
}

a:hover,
a:active {
  color: #482d02;
  font-weight: bold;
  text-decoration: underline dotted #482d02;
  cursor: pointer;
}

/* buttons */

.btn {
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #482d02;
}

.btn-danger {
  background-color: #ff0000;
}

.btn-primary:hover {
  background-color: #382302;
}

.btn-danger:hover {
  background-color: #a50000;
}
