.page-container--flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
}

.title-container {
  flex: 0 0 auto; // occupy just content

  h2 {
    text-align: center;
  }
}

.home-options-container {
  flex: 1 1 auto; // occupy remaining space

  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // align-content: center;
  // gap: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.home-option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: var(--border-width) solid var(--borders-default);
  background-color: var(--brand-primary);
  color: var(--on-brand);
  font-size: var(--font-size-xl);
  text-decoration: none;

  min-height: 15rem;
  min-width: 25rem;
  border-radius: 0.375rem;
}
