@use "../../styles/variables";
@use "../../styles/layout";

.page-container--flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
