:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.home__title {
  text-align: center;
}

.home__subtitle {
  text-align: center;
  font-size: var(--font-size-lg);
}

.title-container {
  flex: 0 0 auto; // occupy just content

  h2 {
    text-align: center;
  }
}

.icecream-world-logo {
  display: flex;
  justify-content: center;
}

.icecream-world-logo img {
  width: 100%;
  height: auto;

  max-width: 15rem;
}

.home__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.home__action {
  padding: 2rem;
}
